<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "A propos", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "CV", "/cv" %></li>
      <li><%= link_to "lettre de motivation", "/lettre_de_motivation" %></li>
      <li><%= link_to "Bientôt sur le net", "/soon" %></li>
      <li><%= link_to "download-Bientôt", "/soon/soon.zip" %></li>
    </ul>
  </nav>
</footer>


